.banner {
    display: flexbox;
    flex-direction: row;
    width: 300px;
    padding-bottom: 20px;
}

/* h1 {
    display: flexbox;
    flex-direction: row;
    padding-left: 100px;
    font-family: 'Dancing Script';
    font-weight: 700;
    font-size: 52px;
} */

body {
    font-family: 'Hedvig';
    background-color: #eafdf8;
    margin: 0px;
}

nav {
    position: absolute;
    font-family:'Dancing Script';
    width:100%;
    background-color:#E69A98;
    opacity: 100%;
    
}
ul {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    list-style: none;
    margin-right: 50px;
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
}
p {
    font-family: 'Karla';
    padding: 20px;
 }
.picture-reel {
    width: 400px; 
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
li:hover {
    cursor: pointer;
    color: #9A5B8F;
}
img:hover {
    cursor: pointer;
    transform: scale(110%);
}